.countdown-container {
  position: relative;
  border: 2px solid green;
  max-width: 400px;
  margin: 0 auto;

  &::before {
    content: 'c-container';
    position: absolute;
    top: 0;
    left: 0;
  }
}

.countdown-result {
  position: relative;
  border: 2px solid green;
  width: 50%;
  margin: 0 auto;
  padding: 10px;

  &::before {
    content: 'c-result';
    position: absolute;
    top: 0;
    left: 0;
  }
}
